.section1{
    text-align: center;
    margin: 0 auto;
    display: -webkit-inline-box;
    display: inline-flex;
}
.portofDivisi-netsec, .portofDivisi-softdev, .portofDivisi-mulmed{   
    padding: 0 30px;
}